# Programming and Scripting Project 2020

## Aaron Donnelly                             G00299531

## Irish Driving Test

In [58]:
import names
import numpy as np
import pandas as pd

Name= []

for i in range (0,99):
    

    i = names.get_full_name(7)
    Name.append(i)
    
df = pd.DataFrame({'Names':Name})
df

                Names
0      Nicholas Baier
1    Marjorie Lambert
2       Leigh Foslien
3   Charlotte Botello
4      Raymond Molina
..                ...
94         Kevin Sapp
95    Ruth Levenstein
96    Shana Feliciano
97          David Don
98    Derek Westbrook

[99 rows x 1 columns]